<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style>
        a,
        button,
        input,
        select,
        h1,
        h2,
        h3,
        h4,
        h5,
        * {
            margin: 0;
            padding: 0;
            border: none;
            text-decoration: none;
            appearance: none;
            background: none;
            -webkit-font-smoothing: antialiased;
        }
    </style>
    <title>@ViewBag.Title - do an co so</title>
    @Scripts.Render("~/bundles/jquery")
    @Styles.Render("~/Content/style.css")
    @Scripts.Render("~/bundles/modernizr")
</head>

<body onload="getGioHangPartial(); onload=startTimer()">
    <div class="home">
        <div class="navigation-bar">
            <div class="left2">
                <div class="home2">
                    @Html.ActionLink("Trang chính", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                </div>
                @Html.ActionLink("Danh sách dịch vụ", "GetAllDiichVu", "Home", new { area = "" }, new
                    {
                        @class =
                         "danh-s-ch-d-ch-v"
                    })
                @using (Html.BeginForm())
                {

                    <div class="seach">
                        <div style="height: 36px; padding: 0 0 0 10px;" class="text-box">
                            <div style="height: 100%;" class="nh-p-t-n-d-ch-v-c-n-t-m">


                                <div class="form-group form-inline" style="height: 100%; display: flex;">
                                    <input style="height: 100%" type="text" class="form-control col-md-10"
                                           value="@ViewBag.Keyword" name="searchString" placeholder="Nhập tên dịch vụ cần tìm">
                                    <input type="submit" class="t-m-ki-m button" value="Tìm dịch vụ"
                                           style="margin-left: 10px;">
                                </div>

                            </div>
                        </div>
                    </div>
                }

                </div>
            @if (Session["TaiKhoanND"] == null)
            {

                <div class="right">
                    <div class="ng-nh-p">
                        @Html.ActionLink("Đăng nhập", "DangNhap", "NguoiDung", new { area = "" }, new
                                {
                                    @class =
                                     "nav-link"
                                })

                    </div>
                    <div class="ng-k">
                        @Html.ActionLink("Đăng ký", "DangKy", "NguoiDung", new { area = "" }, new
                                {
                                    @class = "nav-link"
                                })

                    </div>
                </div>
            }
        </div>

        @RenderBody()
        @RenderSection("upload", required: false)

        <div class="footter" style="background: url(@Url.Content("/Content/images/footter0.png")) center; background-size: cover ">
            <div class="cam-on">
                <div class="l-i-c-m-n">Lời cảm ơn</div>
                <div class="website-cung-c-p-c-ch-d-ch-v-h-tr-n-ng-i-d-ng">
                    Website cung cấp cách dịch vụ hỗ trợ đến người dùng.
                </div>
            </div>
            <div class="ho-tro">
                <div class="h-tr">HỖ TRỢ</div>
                <div class="c-u-h-i-th-ng-g-p">Câu hỏi thường gặp</div>
                <div class="i-u-kho-n-i-u-ki-n">Điều khoản &amp; Điều kiện</div>
                <div class="b-o-l-i">Báo lỗi</div>
                <div class="hotline-h-tr">Hotline Hỗ trợ</div>
            </div>
            <div class="infor">
                <div class="contact">CONTACT</div>
                <div class="vn-tp-hcm-qu-n-9">VN,TP HCM , Quận 9</div>
                <div class="doancosohutech-gmail-com">doancosohutech@gmail.com</div>
                <div class="_01-234-567-88">+ 01 234 567 88</div>
                <div class="_01-234-567-88">+ 01 234 567 88</div>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        function getGioHangPartial() {
            $.ajax({
                type: 'GET',
                url: "@Url.Action("GioHangPartial", "GioHang")",
                success: function (result) {
                    $("#GioHangPartial").html(result);
                }
            });
        }
    </script>
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>

</html>
