@model IEnumerable<DACS.Models.Giohang>
@{
    ViewBag.Title = "GioHang";
    Layout = "~/Views/Shared/_DiffLayout.cshtml";
}

<h2>GioHang</h2>
@if (TempData["Error"] != null)
{
    <div class="alert alert-danger">
        @TempData["Error"]
    </div>
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.tendv)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.hinh)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.goigio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.iSoluong)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dThanhtien)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.tendv)
            </td>
            <td>
                <img src="@Html.DisplayFor(modelItem => item.hinh)" style="width: 180px" />
            </td>
            @using (Html.BeginForm("Capnhatgiohang", "GioHang", new { @id = item.madv }))
            {
                <td>@String.Format("{0:0,0}", item.goigio) Giờ</td>
                <td><input type="number" min="0" name="txtSoLg" value="@item.iSoluong" /></td>
                <td>@Html.DisplayFor(modelItem => item.dThanhtien)</td>
                <td>              
                    <a href="@Url.Action("XoaGiohang", "GioHang", new {@id = item.madv })">Xóa</a>
                </td>
                <td><input type="submit" value="Cập nhật" class="btn btn-success" /></td>
            }

        </tr>
    }
    <tr style="font-weight:bold; text-align: left; color:red">
        <td colspan="2"> Số loại dịch vụ: @ViewBag.Tongsoluongsanpham </td>
        <td colspan="2"> Số lượng dịch vụ: @ViewBag.Tongsoluong </td>
        <td colspan="4">
            Tổng tiền: @String.Format("{0:0,0}", @ViewBag.Tongtien) VNĐ
        </td>
    </tr>
    <tr style="font-weight:bold; color: blue; text-align:right">
        <td colspan="5">
            @Html.ActionLink("Xóa giỏ hàng", "XoaTatCaGioHang")
        </td>
    </tr>
    <tr style="font-weight:bold; color: yellow; text-align:right">
        <td colspan="5">
            @Html.ActionLink("Đặt hàng", "DatHang", "GioHang")
        </td>
    </tr>
</table>

